extends ../layout

block vars
  - var page_type = 'projects'
  - var page_description = 'A list of projects worked on by Jacob Heun'

block content
  div.about
    h1 Projects
    p Under all the constructions

