// Fonts
$font-family-ubuntu = 'Ubuntu', sans-serif

$font-weight-light = 300
$font-weight-normal = 400
$font-weight-bold = 700

// Colors
$slate-gray = #6f96ab
$yellow = #ffec20

// Mixins

display-box()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex


hover-highlight(color)
  & span:after
    content:''
    position: absolute
    width: 100%
    height: 2px
    bottom: 0
    left: 0
    background-color: color
    transform: scaleX(0)
    transform-origin: bottom right
    transition: transform 0.3s

  &:hover
    & span:after
      transform-origin: bottom left
      transform: scaleX(1)
