// Fonts
$font-family-ubuntu = 'Ubuntu', sans-serif

$font-weight-light = 300
$font-weight-normal = 400
$font-weight-bold = 700

// Colors
$slate-gray = #6f96ab
$yellow = #ffec20

// Mixins

display-box()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
