nav
  img(class='profile', src='/images/jacobheun.jpg', alt='Photo of Jacob Heun')
  ul
    li
      a(href='/')
        span About
    li
      a(href='/projects')
        span Projects
    li
      a(href='/blog')
        span Blog
