extends ../layout

block vars
  - var page_type = 'projects'
  - var page_description = 'Thoughts and ramblings by Jacob Heun, a blog.'

block content
  div.about
    h1 Blog
    p Under all the constructions

