extends layout

block vars
  - var page_description = 'Jacob Heun is a Full Stack Developer living in Phoenix, Arizona and Würzburg, Germany.'

block content

  h1 Jacob Heun
  p Under all the constructions
